<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>


<div id="app" v-cloak>
    <div v-if="invalid">
        <h1>Memory consumption</h1>

        Each request consumes resources, including RAM. Orders of magnitude:
        <ul>
            <li>apache prefork : ~2MB - ~15MB (mod_php with some libraries)</li>
            <li>apache worker : ~300KB</li>
            <li>nginx : ~30KB</li>
        </ul>

        An apache with mod_php can therefore hardly accept more than 1000 permanent connections.


        <h1>What can overload your web server</h1>

        <ul>
            <li>KeepAlive HTTP</li>
            <li>Big files / slow connections</li>
            <li>Permanent connections (long polling, web sockets) for a chat, push...</li>
            <li>Slow requests (lack of CPU/IO or slow web-service/BDD/LDAP)</li>
            <li>System limits (max open files, TCP TimeWait/CloseWait)</li>
        </ul>

        <h2>KeepAlive HTTP</h2>

        During KeepAlive, connections use a request. If you have a lot of clients, the recommended KeepAlive of 60s will block a prefork apache.
        <p></p>
        <a target="_blank" href="#keepalive-issue">Simulation</a>
        <p></p>
        Solutions: 
        <ul>
            <li>strongly reduce KeepAlive (1 second), or disable it</li>
            <li>use apache worker/event (in proxy mode) : the default KeepAlive is 5s</li>
            <li>use nginx : the low resource consumption allows a higher KeepAlive (its default value is 75s)</li>
        </ul>

        <h2>Slow clients</h2>

        Slow connections use resources during download.

        <p></p>
        <a target="_blank" href="#slow-clients-issue">Simulation</a>
        <p></p>
        Solutions : 
        <ul>
            <li>use FPM instead of apache mod_php. For files served by PHP for authorization reasons, you can use <a href="https://tn123.org/mod_xsendfile/">X-Sendfile</a> or <a href="https://www.nginx.com/resources/wiki/start/topics/examples/x-accel/">X-Accel-Redirect</a></li>
            <li>use a reverse proxy to buffer (nginx has <a href="https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffering">proxy buffering</a> by default) or cache files (difficult if many big files, impossible if authorized by a cookie)</li>
        </ul>

        <h2>Permanent connections (Tchat, Push)</h2>

        It's hard to have a lot of permanent connections with PHP.

        <h2>Slow queries</h2>

        Queries can be slow or slow only in case of overload: lack of CPU/IO or slow web-service/BDD/LDAP.

        <p></p>
        Solutions
        <ul>
            <li>specific optimizations</li>
            <li>check the opcode cache for PHP</li>
            <li>add load-balanced servers</li>
        </ul>

        <h2>System limits (max open files, TCP TimeWait/CloseWait)</h2>

        <p></p>
        Solutions
        <ul>
            <li>for "time wait", <a href="http://php.net/manual/features.persistent-connections.php">PHP persistent connections</a></li>
        </ul>

        <h1>Manage the overloading of your web server</h1>

        <h2>maxConnections/MaxRequestWorkers</h2>

        In case of overload, apache / haproxy / tomcat / FPM / uwsgi use the <a href="https://veithen.github.io/2014/01/01/how-tcp-backlog-works-in-linux.html">backlog</a> to keep pending connections.
        <p></p>
        nginx / nodejs do not use the backlog.
        <p></p>
        If <tt>worker_connections</tt> is exceeded, nginx:
        <ul>
            <li>warns "worker_connections are not enough" in error.log</li>
            <li>returns an empty response to the client</li>
            <li>no entry in access log !!</li>
        </ul>
        So make sure you have a high <tt>worker_connections</tt>!
        <p></p>
        <a target="_blank" href="#apache-vs-nginx-overflow">Simulation</a>
        <p></p>

        <h2>Avoid saturating the backend</h2>

        Using apache <tt>max</tt> option, you can limit the requests to the backend and keep the others waiting.
        <p></p>
        The equivalent in nginx (<tt><a href="http://nginx.org/en/docs/http/ngx_http_upstream_module.html#queue">queue</a></tt>) is not available in Open Source nginx.
        Nginx <tt><a href="http://nginx.org/en/docs/http/ngx_http_limit_conn_module.html#limit_conn">limit_conn</a></tt> returns an error to the client.
        <p></p>
        <a target="_blank" href="#apache-vs-nginx-queue">Simulation with or without queue</a>
        <p></p>

        <h1>Various</h1>

        <h2>List of simulations</h2> 
        <ul>
            <li v-for="name of valid_simulation_names"><a :href="'#' + name">{{name}}</a></li>
        </ul>
    </div>
    <component :is="tag" v-else></component>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="simulate-web-server.js"></script>

<body>