<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>

<div id="app" v-cloak>
    <div v-if="invalid">
        <h1>Consommation mémoire</h1>

        Chaque requête consomme des ressources, notamment de la RAM. Ordres de grandeur :
        <ul>
            <li>apache prefork : ~2MB - ~15MB (mod_php avec pas mal de librairies)</li>
            <li>apache worker : ~300KB</li>
            <li>nginx : ~30KB</li>
        </ul>

        Un apache avec mod_php peut donc difficilement accepter plus de 1000 connexions permanentes.


        <h1>Qu'est ce qui peut engorger votre serveur Web</h1>

        <ul>
            <li>KeepAlive HTTP</li>
            <li>Gros fichiers / connexions lentes</li>
            <li>Connexions permantes (long polling, web sockets) pour un tchat, du push...</li>
            <li>Requêtes lentes (manque de CPU/IO ou lenteur web-service/BDD/LDAP)</li>
            <li>Limites systèmes (max open files, TCP TimeWait/CloseWait)</li>
        </ul>

        <h2>KeepAlive HTTP</h2>

        Pendant le KeepAlive, Les connexions utilisent une requête. Si vous avez beaucoup de clients, le KeepAlive recommandé de 60s va bloquer un apache prefork.
        <p></p>
        <a target="_blank" href="#keepalive-issue">Simulation</a>
        <p></p>
        Solutions : 
        <ul>
            <li>réduire fortement le KeepAlive (1 seconde), voir le désactiver</li>
            <li>utiliser apache worker/event (en mode proxy) : le KeepAlive par défaut est 5s</li>
            <li>utiliser nginx : la faible consommation de ressources permet un KeepAlive plus élevé (sa valeur par défaut est 75s)</li>
        </ul>

        <h2>Clients lents</h2>

        Tout comme le KeepAlive, les connexions lentes utilisent des ressources lors du téléchargement.

        <p></p>
        <a target="_blank" href="#slow-clients-issue">Simulation</a>
        <p></p>
        Solutions : 
        <ul>
            <li>utiliser FPM au lieu de apache mod_php. Pour les fichiers servis par PHP pour des raisons d'autorisation, possibilité d'utiliser <a href="https://tn123.org/mod_xsendfile/">X-Sendfile</a> ou <a href="https://www.nginx.com/resources/wiki/start/topics/examples/x-accel/">X-Accel-Redirect</a></li>
            <li>utiliser un reverse proxy pour bufferiser (nginx a <a href="https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_buffering">proxy buffering</a> par défaut) ou avec un cache fichier (problématique en cas de nombreux gros fichiers, impossible si autorisation via cookie)</li>
        </ul>

        <h2>Connexions permanentes (Tchat, Push)</h2>

        Il est difficile d'avoir beaucoup de connexions permanentes avec PHP.

        <h2>Requêtes lentes</h2>

        Les requêtes peuvent être lentes ou lentes uniquement en cas de surcharge : manque de CPU/IO ou lenteur web-service/BDD/LDAP.

        <p></p>
        Solutions
        <ul>
            <li>optimisations spécifiques</li>
            <li>vérifier le cache d'opcode pour PHP</li>
            <li>ajouter des serveurs en load-balancing</li>
        </ul>

        <h2>Limites systèmes (max open files, TCP TimeWait/CloseWait)</h2>

        <p></p>
        Solutions
        <ul>
            <li>pour les "time wait", <a href="http://php.net/manual/features.persistent-connections.php">PHP persistent connections</a></li>
        </ul>

        <h1>Gérer l'engorgement de votre serveur Web</h1>

        <h2>maxConnections/MaxRequestWorkers</h2>

        En cas d'engorgement, apache/haproxy/tomcat/FPM/uwsgi utilisent le <a href="https://veithen.github.io/2014/01/01/how-tcp-backlog-works-in-linux.html">backlog</a> pour mettre en attente les requêtes.
        <p></p>
        nginx/nodejs n'utilisent pas le backlog pour mettre en attente.
        <p></p>
        En cas de dépassement de <tt>worker_connections</tt>, nginx :
        <ul>
            <li>prévient par un "worker_connections are not enough" dans error.log</li>
            <li>renvoie une réponse vide au client</li>
            <li>aucune entrée dans le access log !!</li>
        </ul>
        Il faut donc s'assurer d'avoir un <tt>worker_connections</tt> élevé !    
        <p></p>
        <a target="_blank" href="#apache-vs-nginx-overflow">Simulation</a>
        <p></p>

        <h2>Eviter de saturer le backend</h2>

        En utilisant <tt>max</tt> de apache, on peut limiter les requêtes au backend et mettre les requêtes en attente.
        <p></p>
        L'option équivalente de nginx (<tt><a href="http://nginx.org/en/docs/http/ngx_http_upstream_module.html#queue">queue</a></tt>) est payante.
        L'option <tt><a href="http://nginx.org/en/docs/http/ngx_http_limit_conn_module.html#limit_conn">limit_conn</a></tt> de nginx renvoie une erreur au client.
        <p></p>
        <a target="_blank" href="#apache-vs-nginx-queue">Simulation avec ou sans queue</a>
        <p></p>

        <h1>Divers</h1>

        <h2>Liste des simulations</h2> 
        <ul>
            <li v-for="name of valid_simulation_names"><a :href="'#' + name">{{name}}</a></li>
        </ul>
    </div>
    <component :is="tag" v-else></component>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="simulate-web-server.js"></script>

<body>