body {
    font-family: Arial, sans-serif;
}
.simulation {
    display: inline-block;
    margin: 1rem;
}
.progress {
    height: 4rem;
    border: 1px solid #aaa;
}
th {
    font-weight: normal;
}

.progress>div {
    transition: width 0.5s linear;
    height: 100%;
    display: inline-block;
}

[v-cloak] {
display: none;
}
